# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.DocumentedProject.iml
# Datasource local storage ignored files
/../../../../../../:\6freedom\DocumentedProject\.idea\.idea.DocumentedProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
